<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VPannel | DOCSE</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
  <nav>
    <div class="nav-wrapper #01579b light-blue darken-4">
      <a href="#!" class="brand-logo">v-Pannel</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
   
    
  </ul>


  <div class="container col s12" >
    <div class="input-field">
      <br>
    </div>
  </div>



  <div class="row">

    <form class="col s12">
      
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="<%=user.name %>" style="color:black;font-size:20px;" id="disabled" type="text" class="validate">
          <label for="disabled">Participant Name</label>
        </div>
      </div>

      <div class="row">
          <div class="input-field col s12">
            <input disabled value="<%=user.phone%>" style="color:black;font-size:20px;" id="participantNumber" type="text" class="validate">
            <label for="disabled">Participant Phone</label>
          </div>
      </div>

      <div class="row">
          <div class="input-field col s12">
            <input disabled value="<%=user.email%>" style="color:black;font-size:20px;" id="disabled" type="email" class="validate">
            <label for="disabled">Email Address</label>
          </div>
      </div>

      <div class="row">
          <div class="input-field col s12">
            <input disabled value="<%=user.university%>" style="color:black;font-size:20px;" id="disabled" type="email" class="validate">
            <label for="disabled">University</label>
          </div>
      </div>

      <div class="row">
          <div class="input-field col s12">
            <input disabled value="<%=user.department%>" style="color:black;font-size:20px;" id="disabled" type="email" class="validate">
            <label for="disabled">Department</label>
          </div>
      </div>


      <div class="row">
          <div class="input-field col s12">
            <input disabled value="<%=user.semester%>" style="color:black;font-size:20px;" id="disabled" type="email" class="validate">
            <label for="disabled">Semester</label>
          </div>
      </div>

      <div class="row">
          <div class="input-field col s12">
            <input disabled value="<%=user.passChoice%>" style="color:black;font-size:20px;" id="disabled" type="text" class="validate">
            <label for="disabled">Pass Category</label>
          </div>
      </div>

     
        <ul class="collection" id="remainingEvents">
        Remaining Events:
        <% user.single_event.forEach(function(event){ %>
                <a class="collection-item"  onclick="eventParticipation('<%=event%>');"> <%=event%> </a> 
        <% }) %>
        </ul>
      
      <div class="row">
          <div class="input-field col s12">
            <input disabled value="<%=user.paymentReceived%>" id="paymentStatus" style="color:black;font-size:20px;" id="disabled" type="text" class="validate">
            <label for="disabled">Payment Status</label>
          </div>
      </div>


      <div class="row" id="payment-window" style="display:none">
          <div class="col s12 m6">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title" style="color:white;font-size:35px;"> RS <%=cost%></span>
                <p>By clicking PAYMENT RECEIVED , Volunteer accepts that the payment has been collected from the Participant. Mentioned ammount will be attached to the volunteer's account. </p>
              </div>
              <div class="card-action red" id="paymentAcceptedBtn">
                <a href="#"  class="white-text">PAYMENT RECEIVED </a>
                
              </div>
            </div>
          </div>
        </div>


    </form>
  </div>
 
      <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
    
    authUser();

    function authUser(){
      if(localStorage.getItem("x-auth-verified") && localStorage.getItem("v-info")){
        document.querySelector("#payment-window").style.display="block";
      }

      else {
        window.location.replace("/api/login");
      }
    }

    M.AutoInit();

    function eventParticipation(event){
      
      console.log(event)

      let xhr = new XMLHttpRequest();
        let volunteer = JSON.parse(localStorage.getItem("v-info"))
        xhr.open('POST','/api/eventParticipation',true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify({participantNumber:document.querySelector('#participantNumber').value,
        event:event}))



		  xhr.onload = function(){
			window.location.reload();
		
    }}
    

    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, options);
    });
    

    if(document.querySelector("#paymentStatus").value === "true"){
        document.querySelector("#paymentStatus").value = "Payment Received" +` | RS ${<%=cost %>}`;
        document.querySelector("#remainingEvents").style.display = "block";
        document.querySelector("#paymentStatus").style.color= "green";
        document.querySelector("#payment-window").style.display = "none";
    }
    else if(document.querySelector("#paymentStatus").value === "false"){
      document.querySelector("#remainingEvents").style.display = "none";
      document.querySelector("#paymentStatus").value = "Payment NOT Received"
      document.querySelector("#paymentStatus").style.color= "red";
    }

    document.querySelector("#paymentAcceptedBtn").addEventListener("click",function(e){
      e.preventDefault();

      console.log("Clicked")


      let xhr = new XMLHttpRequest();
        let volunteer = JSON.parse(localStorage.getItem("v-info"))
        xhr.open('POST','/api/AcceptPayment',true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify({participantNumber:document.querySelector('#participantNumber').value,
        volunteer:volunteer.name,paymentAmountReceived:<%=cost%> }))



		xhr.onload = function(){
			window.location.reload();
		
    }}
    )
    </script>
</body>
</html>